body {
    font-family: 'arial';
    min-height: 400px;
    color:#000000;
    background-image: url('');
    background-color: #ffffff;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }
  
input[type=number]{
    width: 50px;
  }
  
.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
.page-title {
    margin: 0 0 5px;
  }
  
.page-subtitle {
    margin-top: 5px;
  }
.texto{
    margin-top: 5px;
    text-align: center;
  }
.resultado {
    font-size: 20px;
    color: #ffffff;
    margin: 10px;
    padding: 5px;
    width: 10%;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(47, 101, 216);
  }
  
.cod_fonte{
    text-align: left;
  }
